*{

    padding: 0;
    margin: 0;
    border: inherit;
    box-sizing: inherit;

}

:root{

    background-color: aliceblue;

}

.container{

    text-align: center;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid white;
    border-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.524);

}

label{

    display: inline-block;
    margin-bottom: 10px;

}

#uppercase{

    position: relative;
    right: 15px;
    top: 2px;

}

label[for="uppercase"]{

    position: relative;
    right: 15px;

}

label[for="lowercase"]{

    position: relative;
    right: 5px;

}

label[for="numbers"]{

    position: relative;
    right: 10px;
    bottom: 1px;

}

#numbers{

    position: relative;
    right: 6px;

}

label[for="especial"]{

    position: relative;
    left: 7px;

}

#especial{

    position: relative;
    left: 8px;
    top: 2px;

}

#lowercase{

    position: relative;
    left: 385px;
    bottom: 27px;


}

input[type="checkbox"]{

    cursor: pointer;

}

input[type="number"] {

    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(103, 103, 103);
    border-radius: 3px;

}

button{

    background-color: rgb(103, 103, 103);
    color:white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;

}

button:hover{

    background-color: red;
    transition: 0.3s ease;

}

#password{

    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;

}

#generated-password{

    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid silver;
    padding: 10px;
    word-wrap: break-word;

}



.container{

    font-family: Arial, Helvetica, sans-serif;

}